*{
    margin:0 ;padding: 0; box-sizing: border-box;
}
.top {
    background-color: black;
    color: white;
    padding-top: 10px; padding-bottom: 10px;padding-right: 10px;
    text-align: right;
    font-family: Clarendo;
    font-size: 24px;
}
#menu{
    background-color: grey;position: right; position: right;
}
#m1{
    padding-left: 1000px;
}


.hero{
width:100%;height:100vh; background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));position:relative;
padding: 0 5%; display:flex; align-items: center; justify-content:center;} 

nav{
width:100%; position: absolute; top: 0;left:0;padding: 20px 8%; display:flex; align-items: center;
justify-content: space-between;} 

nav.logo{width:80px}
nav ul li{life-style: none;display: inline-block;margin-left:40px; cursor: pointer;}
nav ul li :hover{background-color: red}

nav ul li a{text-decoration: none;color: #fff; font-size: 17px;}


.content{ text-align: center}
.content h1{font-size:160px;color:#fff;fornt-weight:600;}
.content a{ text-decoration:none; display:inline-block; color:#fff; font-size:24px;border: 2px solid #fff;
padding:14px 70px; border-radius:50px;margin-top:20px;}

.backvid{position: absolute; right:0;bottom:0;z-index:-1;}
@media(max-aspect-ratio:16/9){
.backvid{width:auto; height:100%;}

#new{
    .wrapper {
        width: 940px;        margin: 20px auto 20px auto;        border: 2px solid #000000;        background-color: #ffffff;}
    header {        height: 160px;        background-image: url(images/header.jpg);}
    h1 {        text-indent: -9999px;        width: 940px;height: 130px;margin: 0px;}
    nav, footer {        clear: both;color: #ffffff;background-color: #aeaca8;height: 30px;}
    nav ul {        margin: 0px;padding: 5px 0px 5px 30px;}
    nav li {        display: inline;margin-right: 40px;}
    nav li a {        color: #ffffff;}
    nav li a:hover, nav li a.current {color: #000000;}
    section.courses {        float: left;width: 659px;border-right: 1px solid #eeeeee;}
    article {        clear: both;overflow: auto;width: 100%;}
    hgroup {        margin-top:40px;}
    figure {        float: left;width: 290px;height: 220px;padding: 5px;margin: 20px;border: 1px solid #eeeeee;}
    figcaption {        font-size: 90%;text-align: left;}
    aside {        width: 230px;float: left;padding: 0px 0px 0px 20px;}
    aside section a {        display: block;padding: 10px;border-bottom: 1px solid #eeeeee;}
    aside section a:hover {        color: #985d6a;background-color: #efefef;}
    a {        color: #de6581;text-decoration: none;}
    h1, h2, h3 {        font-weight: normal;}
    h2 {        margin: 10px 0px 5px 0px;padding: 0px;}
    h3 {        margin: 0px 0px 10px 0px;color: #de6581;}
    aside h2 {        padding: 30px 0px 10px 0px;color: #de6581;}
    footer {        font-size: 80%;padding: 7px 0px 0px 20px;}
}


