#index-gallery{
    display:grid;
    grid-template-columns: 50fr 50fr 50fr 50fr;
    grid-template-rows: auto ;
    grid-gap:10px;
    grid-template-areas:
    "gallery-p gallery-p gallery-p gallery-p"
    "gallery-h2 gallery-h2 gallery-h2 gallery-h2 "
    "img1 img2 img3 img4"
    "img5 img6 img7 img8"
    "img9 img10 img11 img12"
    "img13 img14 img15 img16"
    "img17 img18 img19 img20"
    "img21 img22 img23 img24"
    "img25 img26 img27 img27";
}

#index-gallery .gallery-img {
    width: 100%;
    height:300px;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    cursor: pointer;
}

/* Images */
#index-gallery p {
    grid-area: gallery-p;
}#index-gallery h2 {
     grid-area: gallery-h2;}


#index-gallery .img1 {
    grid-area: img1;
    background-image: url("joel.comic/j1.PNG");
}
#index-gallery .img2 {
    grid-area: img2;
    background-image: url("joel.comic/j2.PNG");
}
#index-gallery .img3 {
    grid-area: img3;
    background-image: url("joel.comic/j3.PNG");

}
#index-gallery .img4 {
    grid-area: img4;
    background-image: url("joel.comic/j4.PNG");
}
#index-gallery .img5 {
    grid-area: img5;
    background-image: url("joel.comic/j5.PNG");
}
#index-gallery .img6 {
    grid-area: img6;
    background-image: url("joel.comic/j6.PNG");
}
#index-gallery .img7 {
    grid-area: img7;
    background-image: url("joel.comic/j7.PNG");
}
#index-gallery .img8 {
    grid-area: img8;
    background-image: url("joel.comic/j8.PNG");
}#index-gallery .img9 {
     grid-area: img9;
     background-image: url("joel.comic/j9.PNG");
 }#index-gallery .img10 {
      grid-area: img10;
      background-image: url("joel.comic/j10.PNG");
  }
#index-gallery .img11 {
    grid-area: img11;
    background-image: url("joel.comic/j11.PNG");
}

#index-gallery .img12 {
    grid-area: img12;
    background-image: url("joel.comic/j12.PNG");
}
#index-gallery .img13 {
    grid-area: img13;
    background-image: url("joel.comic/j13.PNG");

}
#index-gallery .img14 {
    grid-area: img14;
    background-image: url("joel.comic/j14.PNG");
}
#index-gallery .img15 {
    grid-area: img15;
    background-image: url("joel.comic/j15.PNG");
}
#index-gallery .img16 {
    grid-area: img16;
    background-image: url("joel.comic/j16.PNG");
}
#index-gallery .img17 {
    grid-area: img17;
    background-image: url("joel.comic/j17.PNG");
}
#index-gallery .img18 {
    grid-area: img18;
    background-image: url("joel.comic/j18.PNG");
}#index-gallery .img19 {
     grid-area: img19;
     background-image: url("joel.comic/j19.PNG");
 }#index-gallery .img20 {
      grid-area: img20;
      background-image: url("joel.comic/j20.PNG");
  }


/**/
.gallery-img div{
    width:100%;
    height:100%;
    background-color: #000000;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-img a{
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;

}
.gallery-img div:hover {
    opacity: 0.8;
    transition: all ease-in-out 100ms;
}